#view1 
{
    position: fixed;
    top : 0px;
    left : 0px;
}
#view2
{
    position: fixed;
    top : 0px;
    left : 0px;
}
#dateContainer
{
    width: 300px;
    color: #fff;
    position : absolute;
    bottom : 10px;
    left : 10px;
    z-index : 11;
    background-color: #303030;
    opacity: 0.5;
    font-size: 15px;
    font-family : monospace;
    z-index : 6;
}
#dateText
{
    color: #fff;
    position : absolute;
    bottom : 10px;
    left : 10px;
    z-index : 11;
    background-color: #303030;
    opacity: 1;
    font-size: 12px;
    font-family : monospace;
    padding-left : 20px;
    padding-right : 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#coordContainer
{
    width: 300px;
    color: #fff;
    position : absolute;
    top : 35px;
    left : 10px;
    z-index : 11;
    background-color: #303030;
    opacity: 0.5;
    font-size: 15px;
    font-family : monospace;
    z-index : 6;
}
#coordText
{
    color: #fff;
    position : absolute;
    top : 10px;
    left : 10px;
    z-index : 11;
    background-color: #303030;
    opacity: 1;
    font-size: 12px;
    font-family : monospace;
    padding-left : 20px;
    padding-right : 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#targetText
{
    color: #ffffff;
    position : absolute;
    top : -10px;
    left : 20px;
    margin-top : 0px;
    padding-top : 0px;
    z-index : 11;
    /* background-color: #303030; */
    opacity: 1;
    font-size: 20px;
    font-family : monospace;
    padding-left : 0px;
    padding-right : 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#targetText
{
    color: #fff;
    z-index : 11;
    opacity: 1;
    top : 15px;
    font-size: 25px;
    font-family : monospace;
    text-align : center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
}

#targetContainer
{
    z-index : 11;
    opacity: 1.0;
    padding-top : 0px;
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 100%;
}

#autoCompleteContainer
{
    z-index : 11;
    opacity: 1.0;
    padding-top : 0px;
    position: absolute; 
    left: 20px; 
    top: 20px; 
    margin-left: auto; 
    margin-right: auto; 
    width: 320px;
}
#autoComplete
{
    background-color: #111;
    opacity: 1.0;
    font-size: 15px;
    font-family : monospace;
}